<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Thêm mới thành viên</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css1/bootstrap.min.css">
<link rel="stylesheet" href='/css1/style.css'>
</head>

<body>

	<div class="d-flex justify-content-between">
		<!-- SIDE BAR -->
		   <div id="side-bar">
            <div class="logo">ADMIN PAGE</div>
            <ul class="list-group rounded-0">
                <li class="dashboard">DASHBOARD</li>
                <li>
                 <a th:href="@{/user/user-list}">
                        <i class="fa fa-user mr-2"></i> Manage Member
                    </a>
                </li>
                <li>
                      <a th:href="@{/role/role-list}">
                        <i class="fa fa-book mr-2"></i> Manage Role
                    </a>
                </li>
                <li>
                 <a 
                   th:href="@{/category/category-list}"> <i class="fa fa-file mr-2"></i> Manage Subject
				</a>
                </li>
                  <li>
                 <a 
                   th:href="@{/course/course-list}"> <i class="fa fa-laptop mr-2"></i> Manage Course
				</a>
                </li>
                <li>
                     <a 
                   th:href="@{/video/video-list}"> <i class="fa fa-video mr-2"></i> Manage video
				</a>
                </li>
                <li>
                     <a 
                   th:href="@{/usercourse/usercourse-list}"> <i class="fa fa-laptop mr-2"></i> Manage Course of Student
				</a>
                </li>
                      <li>
                     <a 
                   th:href="@{/target/target-list}"> <i class="fa fa-clock mr-2"></i> Manage Target
				</a>
                </li>
            </ul>
        </div>

		<div id="admin-wrapper">
			<!-- HEADER -->
			<nav class="navbar navbar-expand-sm navbar-light bg-light w-100">
				<a class="navbar-brand" href="#"><i class="fa fa-align-justify"></i></a>
				<button class="navbar-toggler d-lg-none" type="button"
					data-toggle="collapse" data-target="#collapsibleNavId"
					aria-controls="collapsibleNavId" aria-expanded="false"
					aria-label="Toggle navigation"></button>
				<div class="collapse navbar-collapse" id="collapsibleNavId">
					<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="dropdownId"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Cybersoft </a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="dropdownId">
								 <a class="dropdown-item" th:href="@{/admin/logout}">Log-out</a>
							</div></li>
					</ul>
				</div>
			</nav>

			<!-- CONTENT -->
			<section id="admin-content" class="p-3">
				<h3 class="mb-4">Add Video</h3>
				<input type="hidden" id="message" th:value="${message}">
				<form method="post" th:object="${video}" action="/video/video-add">
					<div class="row">
						<div class="col-md-6">

							<div class="form-group">
										<label>Title</label> 
										<input type="text" th:field="*{title}" class="form-control" />
										<p class="text-danger" 
												th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
									</div>
									<div class="form-group">
										<label>Url</label> 
										<input type="text" th:field="*{url}" class="form-control" />
										<p class="text-danger" 
												th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></p>
									</div>
									<div class="form-group">
										<label>Time(minute)</label> 
										<input type="number" th:field="*{timeCount}" class="form-control" />
										<p class="text-danger" 
												th:if="${#fields.hasErrors('timeCount')}" th:errors="*{timeCount}"></p>
									</div>
								</div>
								<div class="col-md-6">
										<div class="form-group">
										<label>Category</label> 
										
										<select th:field="*{courseId}" class="form-control">
											
											<option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.title}"></option>
										</select>
									</div>
									<div class="form-group">
										<label>Site</label> 
										<input type="number" th:field="*{orderIndex}" class="form-control" />
										<p class="text-danger" 
												th:if="${#fields.hasErrors('orderIndex')}" th:errors="*{orderIndex}"></p>
									</div>
									<div class="form-group">
										<label>Avatar</label> 
										<input type="text" name="image" class="form-control" />
									</div>
								</div>
						<div class="col-12 mt-3">
							<button type="submit" class="btn btn-success">Save</button>
							<a class="btn btn-secondary" th:href="@{video-list}">Back</a>
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/sweet.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/icon.js"></script>
	<script>


var message = document.getElementById("message").value;

         if (message !== null && message.length > 0) {
         	swal("Thông báo!", message, "error");
         }
	
</script>
</body>

</html>